.codeText {
  color: var(--color-text-non);
}
.codeTagPink {
  color: var(--tag-color-pink);
}
.codeTagYelow {
  color: var(--tag-color-yelow);
}
.codeTagBlue {
  color: var(--tag-color-blue);
}
.code {
  color: var(--text-color);
  width: 100%;
  @media screen and (max-width:401px){
    max-width: 285px;
  }
}
code {
  color: var(--text-color);
  
}
.boxInfo p,
h2,
h1,
li,
b {
  color: var(--text-color);
}

.boxInfo {
  box-shadow: 0px 0px 25px black;
  border-radius: 20px;
  padding: 15px;
  // width: 380px;
  height: 700px;
  overflow-x: auto;
  color: var(--text-color);
  @media screen and (max-width:401px){
    max-width: 100%;
  }
}
.tag {
  border: 1px solid rgba(0, 0, 0, 0.299);
  padding: 2px 4px;
  border-radius: 10px;
  background-color: var(--bg-color-code);
  color: var(--text-color);
}
.liMargin:not(:last-child) {
  margin-bottom: 10px;
}
.bgText {
  background-color: rgba(95, 89, 89, 0.082);
  padding: 2px 28px;
}
.textLink {
  color: #25c2a0;
  font-weight: 600;
  text-decoration: none;
}
.imgLess{
  width: 800px;
  @media screen and (max-width:401px){
    width: 100%;
  }
}
.copyBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  border-radius: 20px;
  background-color: var(--bg-color-code);
}
.iframe{
  height: 600px;
  width: 90%;
  @media screen and (max-width:401px){
    height: 400px;
  }
}
.font{
  line-height: 30px;
}
.gray{
  background-color: rgba(128, 128, 128, 0.258);
  width: 100%;
}